<!--
  Generated template for the Comptage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <h2>Produit</h2>
      <p>{{mouvement.ref_produit}}</p>
    </ion-item>
    <ion-item *ngIf="mouvement.type == TYPE_PRISE">
      <h2>Heure de prise</h2>
      <p>{{mouvement.heure_prise?moment(mouvement.heure_prise).format("DD/MM/YYYY HH:mm:ss"):"Aucune"}}</p>
    </ion-item>
    <ion-item *ngIf="mouvement.type == TYPE_DEPOSE">
      <h2>Heure de dépose</h2>
      <p>{{mouvement.heure_prise?moment(mouvement.heure_prise).format("DD/MM/YYYY HH:mm:ss"):"Aucune"}}</p>
    </ion-item>
    <ion-item (click)="setQte()" tapable>
      <h2>Quantité</h2>
      <p>{{mouvement.quantite}}</p>
      <ion-icon *ngIf="!readonly && groupes.length==0" item-right name="create"></ion-icon>

    </ion-item>

    <ion-item *ngIf="type == TYPE_DEPOSE || type == TYPE_PRISE" (click)="setCommentaire()" tapable>
      <h2>Commentaire</h2>
      <p *ngIf="mouvement && mouvement.commentaire">{{mouvement.commentaire}}</p>
      <p *ngIf="!mouvement || !mouvement.commentaire">Aucun</p>
      <ion-icon *ngIf="!readonly" item-end name="create"></ion-icon>
    </ion-item>

    <ion-item *ngIf="type == TYPE_DEPOSE && groupes.length>0" [hidden]="!showToggleVidageComplet" tapable (click)="vidageCompletClick()">
        <ion-label>Vidage complet du groupe</ion-label>
      <ion-toggle readonly [(ngModel)]="vidageComplet" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="groupes.length>0">
      <h2>Produits</h2>
      <p *ngFor="let groupe of groupes">{{groupe.ref_produit}}</p>
    </ion-item>
    <br><br>
  </ion-list>
  <ion-fab right bottom *ngIf="!readonly">
    <button ion-fab icon-only (click)="save()">
          <ion-icon name="checkmark" ></ion-icon>
    </button>
  </ion-fab>
  <ion-fab left bottom *ngIf="!readonly && !noDelete">
    <button ion-fab icon-only (click)="cancel()" color="danger">
          <ion-icon name="trash" ></ion-icon>
    </button>
  </ion-fab>
</ion-content>